
Header{
    position: fixed;
    z-index: 100;
    width: 100%;
    backdrop-filter:blur(7px);
    box-shadow: 0 -5px 10px 3px black;
}

Header .logo , Footer .logo{
    width: 10rem;
    }

main{
    grid-template-areas:"." "content" "Footer";
    grid-template-rows:10rem 1fr auto;
    background: no-repeat center center/100% 100%;
    min-height: 100vh;
    place-items: center;
}

.content {
    grid-area: content;
    width: 100%;
    max-width: 1200px;

}
.imgform{
    mask-image: linear-gradient(to right, transparent, black 20%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%);
}

Footer{
    background:fixed no-repeat center center/100% 100%;
    font-size: small;

}


Footer :is(a, li, p){
    color: white;
    text-decoration: none;
    padding-block: .1rem;
    list-style: none;
    font-size: .7rem;
}




    