
main {
  display: grid;
  grid-template-areas: "." "content" "Footer";
  grid-template-rows: 10rem 1fr auto;
  min-height: 100vh;
}

.content-web {
  grid-area: content;
  place-items: center;
}
.content-form {
  grid-area: content;
  place-items: center;
  place-content: center;
}

Footer{
  grid-area: "Footer";
}

.divfalse
{
  display: flex;
  position:sticky;
  height: 100vh;
  background-color: transparent;
  top:0;
}
.divscroll {
  display: flex;
  position: sticky;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  
  top:0;
}

